.row {
  width: 100%;
  float: left;
  font-size: 1.7rem;
  background-color: tomato;

  &__col {
    display: inline-block;
    padding: 2rem 5rem;

    &--4 {
      width: 33%;
    }

    &--8 {
      width: 66%;
    }
  }


  &__img--boss {
    border-radius: 100px;
  }
}
